<footer class="container-fluid">
    <div class="row footer p-5">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h1 class="Title mb-2 ">تواصل معنا </h1>

            <div class="d-flex flex-row  social ">
                <img src="../../assets/img/107175_circle_facebook_icon.png" class="img-fluid m-2">
                <img src="../../assets/img/294709_circle_twitter_icon.png" class="img-fluid m-2">
                <img src="../../assets/img/1399541_linkedin_material design_icon.png" class="img-fluid m-2">
                <img src="../../assets/img/2308143_logo_videos_watch_website_youtube_icon.png" class="img-fluid m-2">

            </div>
            <div class="mt-5">
                <h5 class="Title">اشترك في النشرة البريدية </h5>
                <form>
                    <input type="text" class="form-control " placeholder="البريد الالكتروني ">
                    <button   class="btn btn-style2  btn-style" style="width:auto; margin-right:0 ;background-color:#463a7c ;color:white ;">اشترك الان </button>

                </form>
              
            </div>
            <div class="d-flex flex-row visa-image  ">
                <a ><img src="../../assets/img/visa.png" class="img-fluid m-2"></a>
                <a> <img src="../../assets/img/mastercard.png" class="img-fluid m-2"></a>
                <a >  <img src="../../assets/img/paypal.png" class="img-fluid m-2"></a>
            </div>

        </div>
        <div class="col col-md-3 col-sm-6 col-xs-6">
            <ul class="footer-item">
                <li> <a routerLink="/Home"> الرئيسية </a></li>
                <li> <a routerLink="/Home">تصفح المهام </a> </li>
                <li> <a routerLink="/Home"> انشاء مهمة </a> </li>
                <li><a routerLink="/Home"> التسوق بالعمولة  </a></li>
            </ul>

        </div>
        <div class="col col-md-3 col-sm-6 col-xs-6">
            <ul class="footer-item">
                <li><a routerLink="/Home"> عمولة عرب وركرز </a>  </li>
                <li> <a routerLink="/Home"> دروس ومقالات </a> </li>
                <li><a routerLink="/Home">الاسئلة الشائعة  </a></li>
              
            </ul>

        </div>
        <div class="col col-md-3 col-sm-6 col-xs-6">
            <ul class="footer-item">
                <li><a routerLink="/Home"> عن عرب وركرز  </a></li>
                <li> <a routerLink="/Home">  شروط الاستخدام  </a></li>
                <li> <a routerLink="/Home"> سياسة الخصوصية </a>  </li>
               
            </ul>

        </div>
        <div class="bottom-footer">
            <p>عرب وركرز - منصة عربية رسمية مسجلة في وزارة الإستثمار المصرية - جميع الحقوق محفوظة. © 2020 - 2023</p>
        </div>

    </div>

</footer>
