<div class="container ">
    <div class="row"> 
   
        <div class="col-md-6 col-sm-12">
            <div class="data-Title">
                <h1 class="Title mb-3">عرب وركرز</h1>
                <div class="subTitle mb-2">
                    نشاركك رحلة فريدة وملهمة
                    <br>
                     هنا يلتقي الابداع  بالابتكار 
                </div>
                <button class="btn start">ابدء</button>
            </div>
          
    </div>

       
        <div class="col-md-6 col-sm-12">
            <img src="../../assets/img/Hazim-Alghamdi.webp" class="img-fluid">

        </div>
        

    
    </div>
    <div class="row">
       
            <h4 class="Title mb-5">معلومات عننا</h4>
            <p class="small-data mb-5">
                تعد عرب وركرز رائدة في مجال العمالة الرقمية، حيث تسعى الشركة إلى تحويل وتسهيل عمليات التوظيف وإدارة العمل عبر الإنترنت. تأسست الشركة مع التزام قوي بتقديم حلاً شاملاً للأفراد والشركات لتلبية احتياجاتهم المتزايدة في مجال العمل الرقمي
            </p>
    

    </div>
    <div class="row">
        <h4 class="Title text-center mb-5"> عمالة رقمية عربية </h4>
        <div class="col-md-8">
            <div class="col-md-12 row">
            <div class="col-md-8 ">
                <div class="image">
                    <img src="../../assets/img/olp.jpg" class="img-fluid">
                    <div class="caption">
                
                       <span>شبكات تواصل  </span>
                    </div>
                   
                   
                </div>
               
            
            </div>
            <div class="col-md-4">

             <div class="image">
                <img src="../../assets/img/wireless-split-keyboard.png" class="img-fluid" >
                <div class="caption">
                
                    <span> جوجل   </span>
                 </div>
                 </div>
                 <div class="image">
                <img src="../../assets/img/trh_democracy_on_trial_artwork1_wide-ec1ae0d269f2788c32a56427ea20084ceca33b9c-s800-c15.jpg" class="img-fluid mt-3">
                <div class="caption">
                
                    <span> اسطلاع الرئي    </span>
                 </div>
            </div>

            </div>


            </div>
            <div class="col-md-12">
                <div class="image">
                <img src="../../assets/img/37511984-4348-b__2302.jpg" class="img-fluid mt-2">
                <div class="caption">
                
                    <span>  المزيد    </span>
                 </div>
                 </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image">
         <img src="../../assets/img/Banner-Background-01013-new.jpg" class="img-fluid">
         <div class="caption" style="padding: 10%;">
                
            <span> الذكاء 
                <br>
                <br>
                الاصطناعي
                 </span>
         </div>
         </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-xs-12 mt-5 mb-5 ">
            <img src="../../assets/img/people.png" class="img-fluid" 
            >
        </div>
        <div class="col-md-6 col-xs-12 mt-5 mb-5">
            <h1 class="Title">حلول مميزة لانجاز وترويج اعمالك علي الانترنت </h1>
          
                <div class="worker">
                        <span for="html">دع الناس يعملون من اجلك</span>
                        <i class="material-icons">radio_button_checked</i>
                </div>
                <div class="worker">
                    <span for="html"> عمالة الكترونية من بلدان مختارة </span>
                    <i class="material-icons">radio_button_checked</i>
            </div>
      
            <div class="worker">
                <span for="html">انت تحدد ما سيكسبة كل عامل     </span>
                <i class="material-icons">radio_button_checked</i>
        </div>
  
        <div class="worker">
            <span for="html">   مطالبة العمال بتقديم اثبات  </span>
            <i class="material-icons">radio_button_checked</i>
    </div>
  
          
 <div>
    <button class="btn start ">اطلب عاملك الان </button>
</div>
           

        </div>

    </div>
    <div class="row">
        <h1 class="Title">مجتمع عرب وركرز </h1>
        <div class="col-md-12 col-sm-12 row mt-5">
            <div class="col-md-4 col-sm-6">
                <circle-progress
                [percent]="75 "
                [radius]="100"
              
              [showUnits]="false"
              
              
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#463a7c'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]= "true"
              ></circle-progress>
            </div>
            <div class="col-md-4 col-sm-6">
                <circle-progress
                [percent]="90 "
                [radius]="100"
              [showTitle]="true"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#463a7c'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]= "true"
              ></circle-progress>
            </div>
            <div class="col-md-4 col-sm-6">
                <circle-progress
                [percent]="45 "
                [radius]="100"
              
              [showUnits]="false"
              
              
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#463a7c'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]= "true"
              ></circle-progress>
            </div>
            </div>
            <div class="row mt-5 ">

            
            <div class="col-md-4 col-sm-6">
                <circle-progress
                [percent]="45 "
                [radius]="100"
              
              [showUnits]="false"
              
              
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#463a7c'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]= "true"
              ></circle-progress>
            </div>
            <div class="col-md-4 col-sm-6">
                <circle-progress
                [percent]="100 "
                [radius]="100"
              
              [showUnits]="false"
              
              
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#463a7c'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]= "true"
              ></circle-progress>
            </div>
            <div class="col-md-4 col-sm-6">
                <circle-progress
                [percent]="60 "
                [radius]="100"
              
              [showUnits]="false"
              
              
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#463a7c'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]= "true"
              ></circle-progress>
            </div>


</div>
        
    </div>
    <section class="row p-5 m-lg-auto ">
       
            <div class="col-md-6 col-lg-5 col-sm-6  col-xs-12 mt-5 me-auto">
                <h5 class="Title">هل تبجث عن عمالة رقمية  لانجاز اعمالك </h5>
                <div class="card card-color ">
                    <img class="card-img-top" src="../../assets/img/Rdata.png" alt="Card image cap" class="small-image mt-5" style="background-image: linear-gradient(185deg, #f8f9fa , #463a7c) ;border-radius:50%">
                    <div class="card-body">
                        <div class="card-title">
                        <i class="material-icons">radio_button_checked</i>
                        <span> انشر مهمتك لترويج مشروعك
                            <br>
                            ادفع فقط عندما تكون راضيا </span>
                    
                    </div>
                    <div class="card-title">
                        <i class="material-icons">radio_button_checked</i>
                        <span> ترويج حقيقي وامن بنسبة 100 % </span>
                    
                    </div>
                    <div class="card-title">
                        <i class="material-icons">radio_button_checked</i>
                        <span> انت تحدد من سيكسبه كل عامل  </span>
                    
                    </div>
                    <div class="card-title">
                        <i class="material-icons">radio_button_checked</i>
                        <span> خيارات اضافية مميزة للمهام الكبيرة </span>
                    
                    </div>
                    
                </div>
                <button  class="btn btn-style">
                    اطلب عاملك الان 
                </button>

            </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 mt-5 me-auto">
                <h5 class="Title"> هل تبحث عن مهمات للعمل علي انجازها  </h5>
                <div class="card card-color2 ">
                    <img class="card-img-top" src="../../assets/img/wallet-3254551-2725154.png" alt="Card image cap" class="small-image mt-5">
                    <div class="card-body">
                        <div class="card-title2 d-flex flex-row ">
                        <i class="material-icons">radio_button_checked</i>
                        <span> ابحث عن المهام التي تود  انجازها
                            <br>
                          حسب اهتمامتك  </span>
                    
                    </div>
                    <div class="card-title2 d-flex flex-row ">
                        <i class="material-icons">radio_button_checked</i>
                        <span> استسمر وقتك واربح المال </span>
                    
                    </div>
                    <div class="card-title2 d-flex flex-row ">
                        <i class="material-icons">radio_button_checked</i>
                        <span>   اكمل المهام البسيطة  الاثبات لتكسب المال   </span>
                    
                    </div>
                    <div class="card-title2 d-flex flex-row ">
                        <i class="material-icons">radio_button_checked</i>
                        <span> قم بدعوة اصدقائك واكسب المزيد </span>
                    
                    </div>
                    
                </div>
                <button  class="btn btn-style btn-style2">انجز اول مهمة 
                                    </button>

            </div>

            </div>
        

    </section>
    <section class="row Artical">
        <h1 class="Title"> دروس ومقالات </h1>
        <div class="col-md-6 col-xs-12 mt-3">
            <div class="card card1" >
                <img class="card-img-top img-fluid" src="../../assets/img/person.jpg" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-name">اربح 5 دولار في الساعة بتعليم اللغة العربية </h5>
                    <p class="card-text">هل يمكن حقا ربح 5 دولارا في الساعة عن طريق المحادثة وتعليم اللغة العربية للأجانب؟ نعم يمكننا تحقيق
                </p>
                    <button   class="btn btn-style" style="width:30% ; margin-right:0">المزيد</button>
                </div>
                </div>

        </div>
        <div class="col-md-6 col-xs-12 mt-3">
            <div class="card " >
                <img class="card-img-top img-fluid" src="../../assets/img/dollar.jpg" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-name">اربح 5 دولار في الساعة بتعليم اللغة العربية </h5>
                    <p class="card-text">عبر موقع عرب وركرز هل حقا يمكننا ربح 500 دولارا شهريا ؟ في الحقيقة الإجابة هي نعم! يمكننا
                    </p>
                    <button   class="btn btn-style btn-style2" style="width:30% ; margin-right:0">المزيد</button>
                </div>
                </div>

        </div>
        <div class="col-md-6 col-xs-12 mt-3">
            <div class="card " >
                <img class="card-img-top img-fluid" src="../../assets/img/laptop.jpg" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-name">العمل علي الانترنت و الربح السريع
                </h5>
                    <p class="card-text">العمل على الانترنت ليس كالسابق فأصبح الآن من ضمن مصادر الدخل المنتشرة عالميا وهو من أهم

                </p>
                    <button   class="btn btn-style2  btn-style" style="width:30% ; margin-right:0">المزيد</button>
                </div>
                </div>

        </div>

        <div class="col-md-6 col-xs-12 mt-3">
            <div class="card " >
                <img class="card-img-top img-fluid" src="../../assets/img/group.jpg" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-name h-64 ">دورة العمالة الرقمية مجانا
                </h5>
                    <p class="card-text mt-3 h-58">دور العمالة الرقمية في تطوير برامج الذكاء الإصطناعي وتأثيرها على هذه الصناعة
                </p>
                    <button   class="btn btn-style btn-style2" style="width:30% ; margin-right:0">المزيد</button>
                </div>
                </div>

        </div>


    </section>
    <section class="row  mt-5 ">
        <h1 class="Title">  الاسئلة الشائعة  </h1>
        <div class="col-md-6 col-xs-12 d-flex flex-row justify-content-between m-auto ">
            <div class="col-md-6 col-xs-6 ">
                <div class="circle ">
                    <span>صاحب العمل  </span>

                </div>

            </div>
            <div class="col-md-6 col-xs-6 ">
                <div class="empty-circle ">
                    <span>صاحب العمل  </span>

                </div>

            </div>

        </div>
        <div class="col-md-6 col-xs-12">
            <img src="../../assets/img/mm.jpg" class="img-fluid">

        </div>
        <div class="col-md-9 col-xs-12 mt-5">
            <div class="flex-row d-flex justify-content-between data-people mt-3">
                <span>من هم اصحاب العمل </span>
                <i class="material-icons">keyboard_arrow_left</i>

            </div>
            <div class="flex-row d-flex justify-content-between data-people mt-3">
                <span>ما هي الرسوم التي يدفعها صحاب العمل    </span>
                <i class="material-icons">keyboard_arrow_left</i>

            </div>
            <div class="flex-row d-flex justify-content-between data-people mt-3">
                <span> كيف تضمن لك منصة عرب وركرز استلام الخدمة ؟
                </span>     
                <i class="material-icons">keyboard_arrow_left</i>

            </div>
            <div class="flex-row d-flex justify-content-between data-people mt-3">
                <span> ماهي وسائل الدفع في عرب وركرز ؟

                </span>     
                <i class="material-icons">keyboard_arrow_left</i>

            </div>

        </div>

    </section>
</div>
